<h1>Listing recetas</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% for receta in @recetas %>
  <tr>
    <td><%=h receta.nombre %></td>
    <td><%= link_to 'Show', receta %></td>
    <td><%= link_to 'Edit', edit_receta_path(receta) %></td>
    <td><%= link_to 'Destroy', receta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New receta', new_receta_path %>
