<h1>Listing unidadmedidas</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% for unidadmedida in @unidadmedidas %>
  <tr>
    <td><%=h unidadmedida.nombre %></td>
    <td><%= link_to 'Show', unidadmedida %></td>
    <td><%= link_to 'Edit', edit_unidadmedida_path(unidadmedida) %></td>
    <td><%= link_to 'Destroy', unidadmedida, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unidadmedida', new_unidadmedida_path %>
